body {
    background-image: url(nah.jpg); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgba(255, 255, 255, 0.555); 
    color: #333; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: white;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20 0;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.centered-image {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 300px; 
    height: 360px; 
}
p {
    text-align: center;
    color: white;
}
